spring:
  config:
    activate:
      on-profile: dev

  datasource:
    url: jdbc:postgresql://10.0.0.2:5432/dev?currentSchema=public
    driver-class-name: org.postgresql.Driver
    username: admin
    password: hxnx
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      idle-timeout: 300000
      connection-timeout: 20000

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
        default_schema: public

  data:
    redis:
      host: 10.0.0.2
      port: 6379

logging:
  level:
    root: INFO
    com.horizon.backend: DEBUG
    org.springframework.security: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

jwt:
  secret: cGhvcml6b24tYmFja2VuZC1kZXYtc2VjcmV0LWtleS1mb3Itand0LXRva2VuLWdlbmVyYXRpb24tMjU2LWJpdHM=
  expiration: 3600000
  refresh-expiration: 604800000

server:
  port: 8080
